<div id="body">
<mat-card class="mat-elevation-z8">
  <mat-card-content>
      <!-- Form -->
      <form [formGroup]="form">
          <!-- File -->
          <mat-form-field class="example-full-width">
              <input formControlName="nameFile" matInput class="form-control" placeholder="File">
              <button mat-icon-button matSuffix (click)="fileUp.click()">
                  <mat-icon class="icon">cloud_upload</mat-icon>
              </button>
          </mat-form-field>
          <input #fileUp class="file-upload" type="file" accept="{{ typeFileSelected }}" (change)="loadFile($event)">
      </form>
      <br>
      <!-- Footer -->
      <div class="flex">
          <!-- Send File -->
          <button #btnUpload mat-icon-button type="button" (click)="upload()" [disabled]="true">
            Send <mat-icon>send</mat-icon>
          </button>
          <!-- Fill space -->
          <span class="flex-fill"></span>
          <!-- Status indicator -->
          <ng-container [ngSwitch]="statusIndicator">
              <div *ngSwitchCase="'PREPARING'" class="flex">
                  <mat-label class="mt-auto">Preparing files...</mat-label>
                  <mat-spinner class="mt-auto" diameter="25"></mat-spinner>
              </div>
              <div *ngSwitchCase="'UPLOADING'" class="flex">
                  <mat-label class="mt-auto">{{ uploadingProgress }} %</mat-label>
                  <mat-spinner class="mt-auto" diameter="25"></mat-spinner>
              </div>
          </ng-container>
      </div>
  </mat-card-content>
</mat-card>
</div>