mat-card {
    width: 50%;
    height: 250px;
}

form {
    display: flex;
    flex-direction: column;
}

#body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload {
    display: none;
}

.icon {
    font-size: 30px !important;
    margin-left: -10px !important;
}

.mt-auto {
    margin-top: auto;
}

.p-5 {
    padding: 5rem;
}

.upload-body {
    display: flex;
    flex-direction: column;
}